PROJECT_NAME=Read-only API for authentification
SERVICE_URL=http://fastapi:8000

REDIS_HOST=redis
REDIS_PORT=6379

# Generate secret key with `$ openssl rand -hex 32`
SECRET_KEY=key
SECRET_KEY_REFRESH=key

DB_NAME=movies_database
DB_USER=app
DB_PASSWORD=123qwe
DB_HOST=postgres
DB_PORT=5432
PG_SCHEMA=content

APP_HOME=/app
